<mat-toolbar color="primary">

  <button class="app-logo" mat-button aria-label="Aplicaciones Disponibles" routerLink="/">
    <mat-icon>home</mat-icon>
    SoftwareB2B
  </button>

  <div *ngIf="appState" class="breadcumb-div">
    <div *ngIf="appState.app && appState.app.name"><button mat-button
        (click)="appBtnClicked()"><span>{{appState.app.name}}</span> </button> |
    </div>
    <div *ngIf="appState.module && appState.module.name"><button mat-button
        (click)="modBtnClicked()"><span>{{appState.module.name}}</span></button> | </div>
    <div *ngIf="appState.submodule && appState.submodule.name"><button mat-button
        (click)="subBtnClicked()"><span>{{appState.submodule.name}}</span></button></div>
  </div>

  <button mat-button aria-label="Aplicaciones Disponibles" routerLink="/applications" *ngIf="false">
    <mat-icon>apps</mat-icon>
    Aplicaciones
  </button>
  <button mat-button aria-label="Aplicaciones Disponibles" routerLink="/modules" *ngIf="false">
    <mat-icon>extension</mat-icon>
    Módulos
  </button>
  <span class="spacer-b2b"></span>
  <div class="search-div">
    <mat-form-field appearance="fill" class="search-field">
      <input matInput [formControl]="search">
    </mat-form-field>
    <button mat-button class="" aria-label="">
      Buscar
    </button>
  </div>
  <div *ngIf="false">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
