<div class="card-container">
    <mat-card class="example-card" *ngFor="let submodule of appSubModules">
        <mat-card-header>
            <mat-card-title>{{ submodule.name }}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/module.png" alt="Module {{ submodule.name }}">
        <mat-card-content>
            <p>
                {{ submodule.description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button (click)="buttonClicked(submodule)">Abir Vínculo</button>
        </mat-card-actions>
    </mat-card>
</div>
